*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
body{
    font-family: "Roboto", sans-serif;
}

.site-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 5px solid #FF7500;
}
.site-header__container {
    display: flex;
    align-items: center;
}

.site-logo{
}

.nav-list {
    display: flex;
    align-items: center;
    margin-right: 32px;
}
.site-item:not(:last-child) {
    margin-right: 32px;
}
.btn {
}